:root {
    --border-color: rgba(149, 155, 174, .25);
    --main-color: #1976D2;
}

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto-Light.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

html, body, .main-content {
    width: 100%;
    min-height: 100vh;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    object-fit: cover;
}

time {
    display: block;
}

table {
    border-collapse: collapse;
    width: 100%;
}

::placeholder {
    transition: color .3s;
}

:focus::placeholder {
    color: transparent;
}

.main-content {
    padding: 0 20px 20px;
}

.balance-header {
    width: 100%;
    height: 55px;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
}

.balance-stats {
    width: 100%;
}

.stats-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff
}

.stats-list > li {
    width: 25%;
    text-align: center;
    padding: 5px;
}

.stats-list > li > span:first-child {
    font-size: 16px;
    margin-right: 20px;
}

.stats-list > li > span:last-child {
    font-size: 18px;
}

.stats-list > li:not(:last-child) {
    border-right: 1px solid rgba(249, 249, 249, .3);
}

.section-body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
}

.section-body__left-side {
    width: 100%;
    max-width: 390px;
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px 0 var(--border-color);
    background-color: #fbfbfb;
    border-radius: 7px;
}

.left-side__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 15px;
    height: 55px;
    border-bottom: 1px solid var(--border-color);
}

.left-side__header > h2 {
    font-size: 24px;
}

.btns-block,
.tabs-block {
    height: 100%;
}

.tabs-block {
    display: flex;
    justify-content: flex-end;
}

.benefits-btn,
.files-tab {
    width: 80px;
    height: calc(100% + 1px);
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    color: #959BAE;
    transition: .4s;
    border-bottom: 1px solid transparent;
    font-size: 15px;
}

.files-tab {
    width: auto;
}

.benefits-btn:hover,
.files-tab:hover,
.active {
    color: var(--main-color);
    border-bottom-color: var(--main-color);
}

.left-side__body,
.group {
    width: 100%;
}

.left-side__body {
    padding-top: 1px;
}

.group {
    border-radius: 5px;
    background-color: #CEE0F3;
    height: 45px;
    padding: 0 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.group > h3 {
    font-family: 'Roboto Light', sans-serif;
    font-size: 14px;
}

.group.closed:after,
.group.opened:after {
    content: '';
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    background: no-repeat center / 100% 100%;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.group.closed:after {
    background-image: url('../img/left-side/group_open.svg');
}

.group.opened:after {
    background-image: url('../img/left-side/group_close.svg');
}

.group__group-body {
    padding-left: 30px;
    height: 0;
    overflow: hidden;
    transition: height .4s;
}

.group-table tr {
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    transition-duration: .4s;
    font-size: 14px;
}

.group-table label {
    cursor: pointer;
}

.group-table label:before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    background: url('../img/left-side/unchecked.svg') no-repeat center / 100% 100%;
}

.benefit-check {
    display: none;
}

.benefit-check:checked + label:before {
    background-image: url('../img/left-side/checked.svg');
}

.status {
    transition: color .3s;
}

.group-table tr:hover,
.story-table tr:hover {
    background-color: var(--main-color);
}

.group-table tr:hover,
.story-table tr:hover,
.story-table tr:hover .status {
    color: #fff;
}

.group-table tr:hover .benefit-check:not(:checked) + label:before {
    background-image: url('../img/left-side/unchecked_white.svg');
}

.group-table tr:hover .benefit-check:checked + label:before {
    background-image: url('../img/left-side/checked_white.svg');
}

.group-table tr > td:first-child {
    width: 285px;
    padding-left: 25px;
}

.group-table tr > td:last-child {
    padding-right: 3px;
}

.group-table tr > td {
    padding: 10px 0;
}

.left-side__btns-block {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10px;
}

.left-side__btns-block > .btn {
    width: 65px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    cursor: pointer;
    background-color: #fff;
    outline: none;
    padding: 0 14px;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--main-color);
    position: relative;
    transition: background-color .3s;
}

.left-side__btns-block > .btn:first-child {
    margin-right: 15px;
}

.left-side__btns-block > .btn:hover {
    background-color: var(--main-color);
    color: #fff;
}

.scales-btn,
.cart-btn {
    background-repeat: no-repeat;
    background-size: 23px;
}

.scales-btn {
    background-image: url('../img/left-side/scales.svg');
    background-position: 10px;
}

.cart-btn {
    background-image: url('../img/left-side/cart.svg');
    background-position: 13px;
}

.scales-btn:hover {
    background-image: url('../img/left-side/scales_white.svg');
}

.cart-btn:hover {
    background-image: url('../img/left-side/cart_white.svg');
}

.groups {
    border-bottom: 1px solid var(--border-color);
}

.description,
.main-description {
    width: 100%;
}

.description {
    padding: 20px 10px;
}

.main-description {
    display: flex;
    border-bottom: 1px solid var(--border-color);
    padding-left: 10px;
}

.text-body {
    padding-bottom: 10px;
}

.benefit-description {
    padding: 18px 0 10px;
    line-height: 24px;
}

.leave-feedback {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--main-color);
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
}

.leave-feedback:hover {
    text-decoration: none;
}

.feedbacks {
    padding-top: 10px;
}

.swiper {
    width: 100%;
    padding-left: 10px;
}

.swiper-slide > h3 {
    font-size: 16px;
}

.stars {
    width: 100%;
    display: flex;
}

.stars > img:not(:last-child) {
    margin-right: 5px;
}

.swiper-button-prev,
.swiper-button-next {
    top: 16px;
    left: initial;
}

.swiper-button-prev {
    right: 47px;
}

.swiper-button-next {
    right: -5px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    background: url('../img/left-side/arrow.svg') no-repeat center / 100% 100%;
    content: '';
    width: 25px;
    height: 25px;
}

.swiper-button-next:after {
    transform: rotate(180deg);
}

.swiper-slide > *:not(:last-child) {
    margin-bottom: 10px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    z-index: 9999;
}

.modal-body {
    width: 100%;
    max-width: 550px;
    background-color: #fbfbfb;
    border-radius: 5px;
    display: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .6);
}

.feedback-modal-form {
    width: 100%;
    height: 100%;
}

.feedback-modal-form > h3 {
    padding: 25px 17px;
    font-weight: 100;
    font-size: 19px;
}

.feedback-modal-form > *:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.feedback-body {
    padding: 0 17px 12px;
}

.rating {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

input[name="rating"] {
    display: none;
}

input[name="rating"] + label {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

input[name="rating"] + label:before {
    content: '\2605'; /* символ звезды */
    display: block;
    font-size: 40px;
    transition: color .2s;
    color: #D3D3D3;
    text-shadow: 0 0 1px #000;
}

input[name="rating"] + label:hover:before,
input[name="rating"] + label:hover ~ label:before,
input[name="rating"]:checked ~ label:before {
    color: #ffd700;
}

input[name="rating"]:not(:last-child) + label,
input[name="rating"]:not(:last-child) {
    margin-right: 5px;
}

.feedback-text-block {
    width: 100%;
    margin-top: 25px;
}

.feedback-text {
    width: 100%;
    height: 150px;
    padding: 10px;
    resize: none;
    font-size: 14px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition-duration: .3s;
}

.feedback-text:focus {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.feedback-modal-btns-block {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 15px 17px;
}

.feedback-modal-btn,
.final-btns__btn {
    border: 1px solid #2E6DA4;
    color: #0071CB;
    border-radius: 20px;
    padding: 3px 20px;
    cursor: pointer;
    background-color: transparent;
    transition-duration: .3s;
    font-size: 16px;
}

.feedback-modal-btn:hover,
.final-btns__btn:hover {
    background-color: #2E6DA4;
    color: #fff;
}

.feedback-modal-btn:first-child,
.final-btns__btn:first-child {
    margin-right: 10px;
}

.story-table tr > td:first-child {
    width: 280px;
}

.story-table tr > td:first-child > time {
    display: inline;
}

.story-table tr {
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
    transition-duration: .3s;
}

.story-table tr > td {
    padding: 10px 14px;
    font-size: 14px;
}

table tr > td:first-child {
    border-radius: 7px 0 0 7px;
}

table tr > td:last-child {
    border-radius: 0 7px 7px 0;
}

.approved {
    color: #27AE60;
}

.body-groups-wrapper,
.body-story-wrapper {
    display: none;
}

.show {
    display: block;
}

.story-body-btns-block {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 130px;
    padding: 0 10px 15px 0;
}

.story-body-btn,
.cart-update-btn {
    width: 65px;
    height: 40px;
    border: 1px solid var(--main-color);
    outline: none;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: background-color .3s;
}

.story-body-btn:hover {
    background-color: var(--main-color);
}

.business-btn,
.chart-btn,
.edit-btn {
    background: no-repeat center / 20px;
}

.business-btn {
    background-image: url('../img/left-side/business.svg');
}

.chart-btn {
    background-image: url('../img/left-side/bar-chart.svg');
}

.edit-btn {
    background-image: url('../img/left-side/edit-tools.svg');
}

.business-btn:hover {
    background-image: url('../img/left-side/business_white.svg');
}

.chart-btn:hover {
    background-image: url('../img/left-side/bar-chart_white.svg');
}

.edit-btn:hover {
    background-image: url('../img/left-side/edit-tools_white.svg');
}

.story-body-btn:not(:last-child) {
    margin-right: 15px;
}

.section-body__right-side {
    width: 100%;
    margin-left: 20px;
}

.section-body__right-side > article:not(:first-child) {
    margin-top: 20px;
}

.cart-block,
.order-details,
.files_and_documents {
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    box-shadow: 0 0 10px 0 var(--border-color);
    background-color: #fbfbfb;
}

.section-body__right-side > article > div:first-child {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-body__right-side > article:not(:last-child) > div:first-child {
    padding: 15px 20px 0;
}

.section-body__right-side > article:last-child > div:first-child {
    padding: 0 20px;
}

.cart-update-btn {
    background: url('../img/right-side/update.svg') no-repeat center;
    background-size: 17px;
    width: 52px;
    height: 30px;
}

.cart-update-btn:hover {
    background-color: var(--main-color);
    background-image: url('../img/right-side/update_white.svg');
}

.cart-table {
    font-size: 14px;
}

.cart-table tr:first-child {
    border-bottom: 1px solid #959BAE;
}

.cart-table tr:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

.cart-table th {
    text-align: left;
    color: #959BAE;
    font-weight: 400;
}

.cart-table th,
.cart-table td {
    padding: 12px 12px 12px 20px;
}

.cart-table tr:not(:last-child) td:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-result-row > td:first-child {
    border-radius: 7px 0 0 6px;
}

.cart-result-row > td:last-child {
    border-radius: 0 7px 6px 0;
}

.cart-item-delete {
    width: 22px;
    height: 22px;
    background: transparent url('../img/right-side/trash.svg') no-repeat center / 22px;
    cursor: pointer;
    outline: none;
    border: none;
    transition: background-image .3s;
}

.cart-item-delete:hover {
    background-image: url('../img/right-side/trash_red.svg');
}

.cart-result-row {
    background-color: #CEE0F3;
    color: var(--main-color);
}

.order-client-data-form,
.form-field {
    width: 100%;
}

.order-client-data-form {
    padding: 10px 18px;
}

.order-block-header,
.files_and_documents__block-header {
    border-bottom: 1px solid var(--border-color);
}

.form-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-field:not(:first-child) {
    margin-top: 5px;
}

.form-field > label {
    color: #959BAE;
    font-size: 15px;
    margin-right: 10px;
    min-width: 148px;
}

.order-form-field {
    width: 100%;
    max-width: 468px;
    padding: 7px;
    font-size: 14px;
    outline: none;
    border: 1px solid var(--border-color);
}

.has-value {
    font-size: 13px;
}

input[type="date"] {
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
    cursor: pointer;
}

input[type="date"]:not(.has-value):before {
    content: attr(placeholder);
    width: 100%;
    color: #757575;
    font-size: 14px;
}

.files-wrapper {
    overflow-y: auto;
    max-height: 300px;
}

.files-tab {
    padding: 20px;
}

.files-tab:first-child {
    margin-right: 13px;
}

.files-items {
    width: 100%;
    display: none;
    flex-wrap: wrap;
    padding: 0 20px 20px;
}

.files-items > .item:not(:last-child) {
    margin-right: 25px;
}

.files-items > .item {
    width: 83px;
    margin-top: 20px;
    position: relative;
}

.file {
    width: 100%;
    height: 83px;
    display: block;
    background: #fff no-repeat center / 44px;
    border: 1px solid #959BAE;
    border-radius: 5px;
    transition: background-color .3s;
    cursor: pointer;
}

.file.clicked,
.file:hover {
    background-color: #E6E6E6;
}

/* Полагаю что этот подход временный */
.file.word {
    background-image: url('../img/right-side/word.svg');
}

.file.pdf {
    background-image: url('../img/right-side/pdf.svg');
}

.file.txt {
    background-image: url('../img/right-side/txt.svg');
}
/* ------------------------- */

.file.add-file-btn {
    background-image: url('../img/right-side/add_new_file.svg');
    border: 1px dashed var(--main-color);
}

.item > span {
    width: 100%;
    display: block;
    text-align: center;
    color: #959BAE;
    font-size: 13px;
    margin-top: 5px;
}

.flex {
    display: flex;
}

.modal__add-new-file-modal h3,
.upload-body {
    padding: 15px;
}

.modal__add-new-file-modal h3 {
    border-bottom: 1px solid var(--border-color);
    font-size: 19px;
    font-weight: 100;
}

.upload-body {
    width: 100%;
}

.dropzone {
    width: 100%;
    height: 100px;
    border: 2px dashed #c0c0c0;
    padding: 15px 0;
}

.input-file {
    display: none;
}

.button-wrapper,
.change-files-btn {
    width: 100%;
}

.change-files-btn {
    background-color: transparent;
    color: var(--main-color);
    border: none;
    outline: none;
    cursor: pointer;
}

.paste-wrapper {
    width: 100%;
    max-width: 400px;
    border: 1px solid #c0c0c0;
    position: relative;
    margin: 7px auto;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paste-wrapper > span {
    color: #acacac;
}

.paste-wrapper > span,
.dropzone > span {
    font-size: 13px;
}

.paste-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: none;
    z-index: 2;
    text-align: center;
    font-size: 13px;
}

.dropzone > span {
    display: block;
    text-align: center;
}

.add-new-file-form__final-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.my-files__submenu {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    left: calc(100% + 2px);
    top: -15px;
    border: 1px solid var(--main-color);
    z-index: 3;
    padding: 5px 15px;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
}

.file.clicked > .my-files__submenu {
    pointer-events: all;
    opacity: 1;
}

.submenu__item {
    padding: 5px 0;
}

.submenu__item > :nth-child(1) {
    color: var(--main-color);
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}

.submenu__item > :nth-child(1):hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: .5px;
}

.place-an-order-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.place-an-order-btn {
    padding: 13px 35px 13px 20px;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
    background-color: #27AE60;
    cursor: pointer;
    font-weight: 600;
    width: 187px;
}

.place-an-order-btn:after {
    content: '';
    display: block;
    background: url('../img/right-side/arrow_right.svg') no-repeat center / 100% 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 13px;
    height: 13px;
}

.save-details-wrapper {
    width: 100%;
    margin-top: 8px;
    display: none;
    justify-content: flex-end;
}

.cancel-changes-btn,
.save-details-btn {
    width: 187px;
    padding: 13px 20px;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    background-color: #fff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-weight: 600;
}

.cancel-changes-btn {
    border-color: #eb5757;
    color: #eb5757;
}

.hide-btn {
    visibility: hidden;
    pointer-events: none;
}
